<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="FromAddress" value="qsitest@synerzip.com"/>
    <add key="EmailAddress" value="qsitest@synerzip.com"/>
    <add key="Password" value="quantum@2015"/>
    <add key="ToAddress" value="qsitest@synerzip.com"/>
    <add key="SMTPServer" value="smtp.gmail.com"/>
    <add key="Port" value="587"/>
    <add key="WorkingFolder" value="F:\Q_Platform\WebUI"/>
  </appSettings>
  <connectionStrings>
    <add name="QSIEntities" connectionString="metadata=res://*/QSIEntityDataModel.csdl|res://*/QSIEntityDataModel.ssdl|res://*/QSIEntityDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=QSI;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <!--<entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>-->
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <webHttpBinding>
        <binding name="httpBindingdetectionService" openTimeout="3:00:00"  closeTimeout="3:00:00" receiveTimeout="3:00:00" sendTimeout="3:00:00" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None" />

        </binding>
      </webHttpBinding>
    </bindings>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="false"
      multipleSiteBindingsEnabled="true" />
    <services>
      <service behaviorConfiguration="Default" name="QSI.Services.OrderService">
        <endpoint address="" behaviorConfiguration="webBehavior" binding="webHttpBinding" contract="QSI.Services.Spec.IOrderService"/>
        <endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex"/>
      </service>
      <service behaviorConfiguration="Default" name="QSI.Services.UserManagementService">
        <endpoint address="" behaviorConfiguration="webBehavior" binding="webHttpBinding" contract="QSI.Services.Spec.IUserManagementService"/>
        <endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex"/>
      </service>
      <service behaviorConfiguration="Default" name="QSI.Services.ClientService">
        <endpoint address="" behaviorConfiguration="webBehavior" bindingConfiguration="httpBindingdetectionService" binding="webHttpBinding" contract="QSI.Services.Spec.IClientService"/>
        <endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex"/>
      </service>
      <service behaviorConfiguration="Default" name="QSI.Services.UserGroupService">
        <endpoint address="" behaviorConfiguration="webBehavior" binding="webHttpBinding" contract="QSI.Services.Spec.IUserGroupService"/>
        <endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex"/>
      </service>
      <service behaviorConfiguration="Default" name="QSI.Services.UserPreferencesService">
        <endpoint address="" behaviorConfiguration="webBehavior" binding="webHttpBinding" contract="QSI.Services.Spec.IUserPreferencesService"/>
        <endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex"/>
      </service>
      <service behaviorConfiguration="Default" name="QSI.Services.UserDataService">
        <endpoint address="" behaviorConfiguration="webBehavior" binding="webHttpBinding" contract="QSI.Services.Spec.IUserDataService"/>
        <endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex"/>
      </service>
      <service behaviorConfiguration="Default" name="QSI.Services.UserLoggingService">
        <endpoint address="" behaviorConfiguration="webBehavior" binding="webHttpBinding" contract="QSI.Services.Spec.IUserLoggingService"/>
        <endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex"/>
      </service>
      <service behaviorConfiguration="Default" name="QSI.Services.WorkOrderService">
        <endpoint address="" behaviorConfiguration="webBehavior" binding="webHttpBinding" contract="QSI.Services.Spec.IWorkOrderService"/>
        <endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex"/>
      </service>
      <service behaviorConfiguration="Default" name="QSI.Services.EmailService">
        <endpoint address="" behaviorConfiguration="webBehavior" binding="webHttpBinding" contract="QSI.Services.Spec.IEmailService"/>
        <endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex"/>
      </service>
      <service behaviorConfiguration="Default" name="QSI.Services.DocumentService">
        <endpoint address="" behaviorConfiguration="webBehavior" bindingConfiguration="httpBindingdetectionService" binding="webHttpBinding" contract="QSI.Services.Spec.IDocumentService"/>
        <endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex"/>
      </service>
      <service behaviorConfiguration="Default" name="QSI.Services.ValidationService">
        <endpoint address="" behaviorConfiguration="webBehavior" binding="webHttpBinding" contract="QSI.Services.Spec.IValidationService"/>
        <endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex"/>
      </service>
      <service behaviorConfiguration="Default" name="QSI.Services.SharingService">
        <endpoint address="" behaviorConfiguration="webBehavior"  binding="webHttpBinding" contract="QSI.Services.Spec.ISharingService"/>
        <endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex"/>
      </service>
      <service behaviorConfiguration="Default" name="QSI.Services.ImageService">
        <endpoint address="" behaviorConfiguration="webBehavior" bindingConfiguration="httpBindingdetectionService" binding="webHttpBinding" contract="QSI.Services.Spec.IImageService"/>
        <endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex"/>
      </service>
     </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="webBehavior">
          <webHttp helpEnabled="true"/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="Default">
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>

<!--<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>

    <services>
      <service behaviorConfiguration="" name="QSI.Services.OrderService">
        <endpoint address="" behaviorConfiguration="" binding="webHttpBinding" contract="QSI.Services.Spec.IOrderService"/>
        <endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          -->
<!-- To avoid disclosing metadata information, set the values below to false before deployment -->
<!--
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          -->
<!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
<!--
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    -->
<!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
<!--
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>-->